 .btn {
  font: inherit;
  cursor: pointer;
  background-color: #003688;
  border: 1px solid #003688;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

 .btn:hover,
 .btn:active {
  background-color: #3462a7;
  border-color: #3f69a8;
}
/* .input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
} */
